<div class="bakar-item thumb" >
	<div class="bakar-media">
		<%# if video.image_url %>
		<%= link_to image_tag(video.image_url, :alt => video.caption) + "<h2 style='cursor: pointer;''> #{video.caption}</h2>".html_safe + '<span class="overlay" ></span></span>'.html_safe, video.slug_path %>		
		<%# end %>		
	</div>
	<!-- <div class="media-info">
		<%= link_to video.caption, video.slug_path, :class => "title", :title => video.caption %>	
	</div>
	<div class="media-meta">			
		<a href="/video/246307dc-abdf-4371-ba06-0a7537f38cba" class="timestamp">over a month ago</a>			
		<a href="/video/246307dc-abdf-4371-ba06-0a7537f38cba" class="likes">2.98K</a>			
		<a href="/video/246307dc-abdf-4371-ba06-0a7537f38cba" class="comments">127</a>		
	</div> -->
</div>