<% unless request.xhr? %>
<% content_for :js do %>
	<%= javascript_include_tag "masanory" %>
<% end %>
<% unless current_user %>
	<% content_for :js do %>
		<script type="text/javascript">
			$(function(){
				$(".close-modal:visible").live('click', function(){
      		$(".modal").modal('hide');
      		return false;
    		});
				$('a').live("click",function(){
					var $this = $(this);
					if($this.hasClass("close-modal") || $this.hasClass("fb-signin") || $this.hasClass("facebook") || $this.closest("#footer")[0]){
						return true;
					}
					else{
							$('#fbLoginModal').modal('show');
							return false;
					}
				});
				dealBoard.disableScrolling = true
			});
		</script>
	<% end %>
		<div class="modal hide fade" id="fbLoginModal">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3>Sign in with Facebook</h3>
		  </div>
		  <div class="modal-body" style="text-align: center">
		  	<div class="fb-cont">
		  		<%= link_to "", user_omniauth_authorize_path(:facebook) , :class => "facebook"%>
		    <p>We will not post on your Facebook account without your permission. We Promise!</p>
		    <p><%= link_to "Click here", "http://facebook.com" ,:target => "_blank"%> if you don't have a Faceook account. Its very easy to setup.</p>
		  </div>
		  </div>
		  <div class="modal-footer">
		  	<a href="#" class="btn close-modal" >Cancel</a>
		  </div>
		</div>

		<!-- <div class="splash">
			<%#= link_to "", user_omniauth_authorize_path(:facebook) , :class => "facebook"%>
		</div> -->
<% end %>
<div id="inner-container-bakar">
	<div style="width: 942px;
padding-left: 10px;">
	<div style="width: 100%;
border-bottom: 1px solid #D6D6D6;
padding-bottom: 14px;
margin-bottom: 20px;
font-size: 25px;
font-weight: bold;
text-align: center;">
		AWESOME HANDPICKED DESI VIDEOS
	</div>
</div>
	<div id="iso-container">
		<%= render :partial => "video", :collection => @videos %>
	</div>
</div>
<% else %>
	<%= render :partial => "video", :collection => @videos %>
<% end %>