<%= content_for :head do %>
	<meta property="fb:app_id" content="<%= FB_APP_ID %>"/>
	<meta property="og:type"   content="<%= FB_OG_TYPE %>" /> 
	<meta property="og:url" content="<%= request.protocol + request.host_with_port + @video.slug_path %>"/>
	<meta property="og:title" content="<%= @video.caption %>"/>
	<meta property="og:image" content="<%= @video.image_url %>"/>
	<meta property="og:description" content="<%= @video.description %>" /> 
	<meta property="og:site_name" content="Bakarvids"/>
<% end %>
<% if @video.description.present? %>
	<% content_for :meta_description do %>
		<%= @video.description %>
	<% end %>
<% end %>
<% content_for :title do%>
	<%= @video.caption.truncate(65) %>
<% end %>
<% if current_user %>
<%= content_for :js do %>
	<% if @video.url.match(/(youtube\.com|youtu\.be)\/(v\/|u\/|embed\/|watch\?v=)?([^#\&\?]*).*/i) %>
		<%= javascript_include_tag "youtube-api" %>
	<% else %>
		<%= javascript_include_tag "vimeo-api" %>
	<% end %>
<% end %>
<% end %>
<div class="row" id="vpage">
	<div class="span10" id="vcontainer">
		<div class="row">
			<div class="span10">
				<div id="vbox" data-video_id='<%= @video.id.to_s %>'>
					<div id="video_container">
					<% if current_user %>
					<% if @video.url.match(/(youtube\.com|youtu\.be)\/(v\/|u\/|embed\/|watch\?v=)?([^#\&\?]*).*/i) %>
						<embed id="bakarplayer" width="920" height="510" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="bakarplayer" style="" src="http://www.youtube.com/v/<%= $3 %>?version=3&enablejsapi=1&playerapiid=bakarplayer&autoplay=1" type="application/x-shockwave-flash">
					<!-- 	<iframe id="ytplayer" type="text/html" width="670" height="520"
						src="http://www.youtube.com/v/<%#= $3 %>?autohide=1&fs=1&rel=0&enablejsapi=1playerapiid=<%= "y" + @video.id.to_s %>"
						frameborder="0" allowfullscreen></iframe> -->

					<% elsif @video.url.match(/vimeo.com\/(\d+)\/?(.*)/)%>
						<iframe id="vplayer" src="http://player.vimeo.com/video/<%= $1 %>?byline=1&portrait=0&api=1&player_id=vplayer&color=&fullscreen=1" width="920" height="510" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					<% end %>
					<% end %>
					</div>
				</div>
				<div id="des-box">
					<div class="description">
						<h1><%= @video.caption %></h1>
					</div>
					<div class="social-mode">
						<!-- <div class="fb-social-mode">
							Social Mode Is OFF
						</div> -->
					</div>
				</div>
			</div>
			<div class="span3">
				<%= spacer("45px")%>
			</div>
		</div>
	</div>
</div>

<% unless current_user %>

<% content_for :js do %>
	<script type="text/javascript">
		$(function(){
			$('#fbLoginModal').modal('show');
			$(".close-modal:visible").live('click', function(){
    		$(".modal").modal('hide');
    		return false;
  		});
			$('a').live("click",function(){
				var $this = $(this);
				if($this.hasClass("close-modal") || $this.hasClass("fb-signin") || $this.hasClass("facebook") || $this.closest("#footer")[0]){
					return true;
				}
				else{
						$('#fbLoginModal').modal('show');
						return false;
				}
			});
			dealBoard.disableScrolling
		});
	</script>
<% end %>

<div class="modal hide fade" data-keyboard="false" data-backdrop="static" id="fbLoginModal">
  <div class="modal-header">
    <h3>Sign in with Facebook</h3>
  </div>
  <div class="modal-body" style="text-align: center">
  	<div class="fb-cont">
  		<%= link_to "", user_omniauth_authorize_path(:facebook) , :class => "facebook"%>
    <p>As of now we only allow sign in with Facebook.</p>
    <p><%= link_to "Click here", "http://facebook.com" ,:target => "_blank"%> if you don't have a Faceook account. Its very easy to setup.</p>
  </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<% end %>

<%= image_tag @video.image_url, :alt => @video.caption, :style => "visibility: hidden;" %>
