body{
    background: #F7F5F5 url(paper.jpg) repeat;
}
.modal-body{
  div.fb-cont{
    text-align: center;
  }
  a.facebook {
    margin: 0 auto;
    display: block;
    width: 282px;
    height: 55px;
    background: transparent url(btn_homepage_facebook.png) left top no-repeat;
  }
  a.facebook:hover{
    background: transparent url(btn_homepage_facebook.png) left bottom no-repeat;
  }
}
.splash{
  background: transparent url(homepage.jpg) center top no-repeat;
  height: 400px;
  width: 940px;
  margin: 0px 10px 30px;
  position: relative;
  a.facebook {
    position: absolute;
    top: 286px;
    left: 640px;
    display: block;
    width: 282px;
    height: 55px;
    background: transparent url(btn_homepage_facebook.png) left top no-repeat;
  }
  a.facebook:hover{
    background: transparent url(btn_homepage_facebook.png) left bottom no-repeat;
  }
}

#top-container-bakar{
  min-height: 550px;
  #container-outer-bakar{
    margin-top: 30px
  }
	#inner-container-bakar{
    margin: 0 auto;
    .bakar-item{
      background-color: white;
      width: 300px;
      height: 200px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      .bakar-media{
        width: 300px;  
        height: 200px;
        position: relative;
        h2{
          width: 200px;
          left: 50px;
          font-size: 28px;
          color: white;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;
          position: absolute;
          z-index: 20;
          bottom: 20px;
          min-height: 80px;
          color: white;
        }
        h2:hover{
          color: white;
        }
        img{
            width: 300px;
            height: 200px;
          }
        .overlay{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: transparent url(bg_alpha_black.png) top left repeat;
          z-index: 10;
          .icon{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent url(icon_play.png) center center no-repeat;
            z-index: 11;
          }
        }
      }
      .media-info{
        margin: 15px 15px 13px 15px;
        font-weight: bold;
        font-size: 11px;
        line-height: 15px;
        height: 34px;
        white-space: nowrap;
        overflow: hidden;
        a{
          font-weight: bold;
        }
        a.grey{
          color: #777;
        }
      }
      .media-meta{
        color: #999;
        border-top: 1px solid #DDD;
        padding: 5px;
        text-align: right;
        font-size: 11px;
        white-space: nowrap;
        .timestamp {
          float: left;
          background: transparent url(feed_icon_sprite.png) 0 0px no-repeat;
          padding-left: 20px;
        }
        .likes {
          background: transparent url(feed_icon_sprite.png) 0 -44px no-repeat;
          padding-left: 17px;
          padding-right: 0px;
        }
        .comments {
          background: transparent url(feed_icon_sprite.png) 0 -30px no-repeat;
          padding-left: 20px;
        }
        a{
          color: #777777;
          text-decoration: none;
          line-height: 15px;
        }
      }
    }
    .bakar-item.thumb{
      min-height: 200px
    }
    .bakar-item.lofer{
      min-height: 240px
    }
    .bakar-item.romio{
      min-height: 310px
    }
    .bakar-item.play{
      min-height: 276px
    }
  }
}

/* Show Page CSS */
#vpage{
  
  .description{
    width: 460px;
    float: left;
    margin-right: 30px;
    p{
      color: #333333;
      font-size: 21px;
      line-height: 27px;
    }
  }
  .social-mode{
    float: left;
    .fb-social-mode{
      width: 200px;
      overflow: hidden;
      height: 60px;
      background: #E7EBF2;
      padding: 7px 5px;
      border: 1px solid #B7C5E0;
    }
  }

 

}


/* Show Page CSS Ends*/



























/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/**** Transitions Ends ****/