#vpage{
	#vcontainer{
		padding-top: 30px;
		#vbox{
			margin: 0 auto;
			.vbox-header{
				width: 100%;
				margin-bottom: 15px;
				height: 30px;
				h1{
					float: left;
				}
				.social-buttons{
					float: right;
				}
			}
			#video_container{
				padding: 20px;
				background: #222;
				width: 920px;
				height: 510px;
				position: relative;
			}
		}
	}
}