<div class="navbar" id="footer">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- <a class="brand" href="#">Bakarvids</a> -->
      <div class="container-fluid" id="footer-items">
        <ul class="nav">
          <li><%= link_to_function "&copy; Bakarvids".html_safe, "return false;" %></li>
          <li><%= link_to "Advertise", "/path2"  %></li>
          <li><%= link_to "Privacy", "/privacy.html"  %></li>
          <li><%= link_to "Terms", "/privacy.html"  %></li>
          <li><%= link_to "Contact Us", nil, :id => "contact-bakar" %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>