    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">Bakarvids</a> -->
          <div class="container nav-collapse" id="header-items">
            <ul class="unstyled pull-left">
              <li style="margin-top: 15px">
                <%= link_to "BakarVids", root_path, :style => "font-size: 32px;font-weight: bold;
text-decoration: none; color: #BFBFBF" %>
              </li>
            </ul>
            <ul class="unstyled search-form pull-right">
              <li>
                <form method="get" action="/search" class="navbar-search">
                  <input type="text" name='name' class="search-query" placeholder="Search">
                </form>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <% if user_signed_in? %>
                <%= image_tag current_user.profile_image , :class => 'fb-profile-image'%>
                <%= link_to "Sign out", destroy_session_path(current_user), :method => :delete, :class => "fb-signin" %>
                <% else %>
                <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) , :class => "fb-signin"%>
                <% end %>
              </li>
              <li><%= link_to "Subscribe", "javascript://", :id => "subscribe-news"  %></li>
              <li><%= link_to "Suggest A Video", "javascript://", :id => "suggest-video"  %></li>
              <% if current_user %>
              <li  class="clearfix"><%= link_to "Social", "/path2", :id => 'shareToggleLink', :style => "float:left"  %><%= render "layouts/switch" %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- <div class="subnav" id="subnav-bakar">
        <ul class="nav nav-pills">
          <li class="active"><a href="#everything">Everything</a></li>
          <li><a href="#popular">Most Popular</a></li>
          <li><a href="#funny">Funny</a></li>
          <li><a href="#technology">Technology</a></li>
          <li><a href="#ploitics">Ploitics</a></li>
          <li style="float:right"><a href="#suggest" style="border-left: 1px solid #E5E5E5;">Suggest Video</a></li>
        </ul>
    </div> -->
    