<div class="social-buttons">

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="I watched an awesome video on #bakarvids. Check this out <%= request.url %>" data-count="none">Tweet</a>
	
</div>

<%= content_for :end_body do %>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
<% end %>