<div class='on-off <%= "main-on" if current_user.sharing_mode %>' style="float:left">
<span class='switch' <%= "style='left: 35px'" if current_user.sharing_mode %>></span>
<div class='on'>
  <span <%= "style='right: 0px'" if current_user.sharing_mode %>>ON</span>
</div>
<span class='off'>OFF</span>
<input type='checkbox'/>
</div>