<!DOCTYPE html>
<html lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
    <%= favicon_link_tag "/favicon.ico" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Awesome Handpicked Desi Videos" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield(:head) %>
    <meta name='description' content="<%= content_for(:meta_description) ? yield(:meta_description) : 'Bakarvids brings you awesome handpicked desi videos from all over.' %>" />
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <%= render "layouts/header"%>
    <div class="container" id="top-container-bakar">
      <div class="row">
        <div class="span10 offset1" id="container-outer-bakar" >
          <% if params[:alert] || params[:notice]%>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    <div style="width: 100%; height: 60px;"></div>
      <%= render "layouts/footer"%>
        <!-- <p>&copy; Company 2012</p> -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield(:js) %>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#subscribe-news").click(function(){
          $('#subscribeModal').modal('show');
            return false;
        });

        $("#suggest-video").click(function(){
           $('#suggestVideoModal').modal('show');
            return false;
        });

        $("#contact-bakar").click(function(){
           $('#contactBakarModal').modal('show');
            return false;
        });
      });
      
    </script>
    <div class="modal hide fade" id="subscribeModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>SUBSCRIBE TO DAILY VIDEO FEED</h2>
      </div>
      <div class="modal-body" style="text-align: center">
        <form method="post" action="/subscribe" class="form-inline">
          <input name="email" type="text" class="input-large" placeholder="Email">
          <button type="submit" class="btn">Subscribe</button>
        </form>
      </div>
      </div>
    </div>

    <div class="modal hide fade" id="contactBakarModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Contact Bakarvids</h2>
      </div>
      <div class="modal-body" style="text-align: center">
        <form method="post" action="/contact" class="form-inline">
          <input type="text" name="name" class="input-large" placeholder="Name"><br /><br />
          <input type="text" name="email" class="input-large" placeholder="Email"><br /><br />
          <textarea type="text" name="message" class="input-large" placeholder="Message"></textarea><br /><br />
          <button type="submit" class="btn">Contact</button>
        </form>
      </div>
      </div>
    </div>

    <div class="modal hide fade" id="suggestVideoModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>SUGGEST A VIDEO</h2>
      </div>
      <div class="modal-body" style="text-align: center">
        <form method="post" action="/suggest_video" class="form-inline">
          <input type="text" name="url" class="input-large" placeholder="Url">
          <button type="submit" class="btn">Go</button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
